<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h2>Detail Student</h2>
<div>
    <div>
        <label>Name:</label>
        <label th:text="${student.name}"></label>
    </div>
    <div>
        <label>Date Of Birth:</label>
        <label th:text="${student.dateOfBirth}"></label>
    </div>
    <div>
        <label>Class Room:</label>
        <label th:text="${student.classRoom.nameClass}"></label>
    </div>
</div>
</body>
</html>
