<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <table>
        <tr>
            <td>Tên đăng nhập</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        <tr>
            <td>Mật khẩu</td>
            <td>
                <input type="text" name="password">
            </td>
        </tr>
        <tr>
            <td>Duy trì đăng nhập</td>
            <td>
                <input type="checkbox" name="remember-me">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Đăng nhập</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>