<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<header th:replace="/layout :: header"></header>
<h3 style="font-weight: 800">Contract List</h3>
<div class="notify">
    <div th:if="${message}" style="text-align: center">
        <span th:text="${message}"></span>
    </div>
</div>

<style>
    th, td {
        border: 1px solid black;
    }
</style>

<!--Modal ADD NEW CONTRACT-->
<nav class="navbar navbar-expand-lg pb-0 mb-0">
    <div class="container-fluid">
        <button style="font-weight: 800;color: #fff;background-color: darkgreen;border-color: #0d6efd"
                class="btn btn-outline-secondary btn-lg" data-bs-toggle="modal"
                data-bs-target="#addContract">
            <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
            <span class="text-light"> Add New Contract</span>
        </button>

        <a th:href="@{/contract/using}" style="font-weight: 800;color: #fff;background-color: darkgreen;border-color: #0d6efd"
                class="btn btn-outline-secondary btn-lg">
            <span class="text-light"> List Customers are using the service</span>
        </a>
    </div>
</nav>

<div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="border border-2 border-success p-3 rounded formCSS"
                  th:action="@{/contract/save}"
                  th:object="${contractDto}" method="POST">
                <div class="modal-header">
                    <h3 style="font-weight: 800; color: white; background-color: darkgreen" class="modal-title fw-bold"
                        id="exampleModalLabel3"> Add New Contract</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="mt-3 form-group">
                    <label class="h6" for="facility">Facility:</label>
                    <div class="input-group">
                        <select id="facility" class="form-select" th:field="*{facility}">
                            <option th:each="item : ${facilityList}" th:value="${item.id}"
                                    th:text="${item.name}"
                                    th:if="${item.facilityType.id != 3}">
                            </option>
                        </select>
                        <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                    </div>
                </div>


                <div class="mt-3 form-group">
                    <label class="h6" for="employee">Employee:</label>
                    <div class="input-group">
                        <select id="employee" class="form-select" th:field="*{employee}">
                            <option th:each="item : ${employeeList}" th:value="${item.id}"
                                    th:text="${item.name}" th:if="${item.division.id != 3}">
                            </option>
                        </select>
                        <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="h6" for="customer">Customer:</label>
                    <div class="input-group">
                        <select id="customer" class="form-select" th:field="*{customer}">
                            <option th:each="item : ${customerList}" th:value="${item.id}"
                                    th:text="${item.name}"></option>
                        </select>
                        <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                    </div>
                </div>

                <div class="mt-3 form-group">
                    <label for="startDate" class="h6">Start Date:</label>
                    <input type="date" id="startDate" class="form-control" th:field="*{startDate}"
                           onchange="changeEndDate(this)"/>
                </div>

                <div class="mt-3 form-group" id="endDateForm">
                    <label for="endDate" class="h6">End Date:</label>
                    <input type="date" id="endDate" class="form-control" th:field="*{endDate}"/>
                </div>


                <div class="mt-3 form-group">
                    <label for="deposit" class="h6">Deposit (VNĐ):</label>
                    <div class="input-group">
                        <input type="number" id="deposit" class="form-control" th:field="*{deposit}"
                               placeholder="Input Deposit..."/>
                        <span class="input-group-text"><i class="fa-solid fa-money-bill-wave"></i></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" value="delete">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table id="customers" style="margin-top: 10px">
    <thead>
    <tr>
        <th>STT</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Facility</th>
        <th>Deposit</th>
        <th>Total Monney</th>
        <th>Accompanying Services</th>
        <th>Accompanying Services</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract,loop : ${contractPage}">
        <td th:text="${contractPage.number*5+loop.count}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${contract.customer.name}"></td>
        <td th:text="${contract.employee.name}"></td>
        <td th:text="${contract.facility.name}"></td>
        <td th:text="${contract.deposit}"></td>
        <td th:text="${contract.totalMoney}"></td>
        <td class="text-center">
            <a class="btn btn-primary"
               th:href="@{/contractDetail/{idContract}/create(idContract = ${contract.id})}">+</a>
            <a class="btn btn-primary" th:href="@{/contract/list-facility/{idContract}(idContract = ${contract.id})}">Attach
                Facility List</a>
        </td>
        <td class="text-center">
            <!--            Button Add Contract Detail-->
            <button class="btn btn-primary"
                    th:attr="onclick=|addContractDetail('${contract.id}')|"
                    data-bs-toggle="modal"
                    data-bs-target="#addContractDetail">
                <span class="fa-solid fa-plus text-light h6 m-auto">+</span>
            </button>
            <!--        Button Show Attach Detail    -->
            <button class="btn btn-primary"
                    th:attr="onclick=|showAttachDetail('${contract.id}')|" data-bs-toggle="modal"
                    data-bs-target="#showAttachDetail">
                <span class="text-light m-auto">Attach Facility List</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>


<!--Add Contract Detail-->
<div class="modal fade" id="addContractDetail" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="font-weight: 800; color: white; background-color: darkgreen" class="modal-title"
                    id="exampleModalLabel4">Add New Attach Facility</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <!--                    <label>Contract ID:</label>-->
                    <input type="hidden" name="contractId" id="#contract-id" readonly/>

                    <div class="form-group">
                        <label class="h6" for="attach-facility">Attach Facility:</label>
                        <div class="input-group">
                            <select id="attach-facility" class="form-select">
                                <option th:each="item : ${attachFacilityList}"
                                        th:value="${item.id}"
                                        th:text="${item.name+' | ' + item.unit + ' | ' + item.cost}">
                                </option>
                            </select>
                            <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                        </div>
                    </div>

                    <div class="mt-3 form-group">
                        <label for="quantity" class="h6">Quantity:</label>
                        <div class="input-group">
                            <input type="number" id="quantity" class="form-control" placeholder="Input Quantity"
                                   required/>
                            <span class="input-group-text"></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btn-create-contract-detail">Add</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Attach Facility List-->
<div class="modal fade" id="showAttachDetail" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h3 style="font-weight: 800; color: white; background-color: darkgreen" class="modal-title"
                    id="exampleModalLabel2">Attach Facility List</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <table id="showSlow" style="width: 100%"></table>


                <div class="h5 text-danger text-center" id="note">
                    No service included in the contract!
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Page-->
<div style="text-align: center">
    <span>
        <a th:if="${contractPage.hasPrevious()}"
           th:href="@{/contract(page=${contractPage.number}-1)}">
            Previous
        </a>
    </span>

    <span th:text="${contractPage.number+1}"></span>/
    <span th:text="${contractPage.totalPages}"></span>

    <span>
        <a th:if="${contractPage.hasNext()}"
           th:href="@{/contract(page=${contractPage.number+1})}">
            Next
        </a>
    </span>
</div>
<footer th:replace="/layout :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>


<!--JQuery-->
<script>
    function showAttachDetail(id) {
        $("#showSlow").empty();
        $("#note").show();
        // $("#showSlow").hide();
        $.ajax({
            url: "http://localhost:8080/api/contract-detail/v1/" + id,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.length > 0) {
                    $("#note").hide();
                    let tr = [];
                    tr.push("<tr style='text-align: center'>");
                    tr.push("<th class='text-bg-primary h5'>" + "STT" + "</th>");
                    tr.push("<th class='text-bg-primary h5'>" + "Name" + "</th>");
                    tr.push("<th class='text-bg-primary h5'>" + "Unit" + "</th>");
                    tr.push("<th class='text-bg-primary h5'>" + "Quatity" + "</th>");
                    tr.push("</tr>");
                    for (let i = 0; i < data.length; i++) {
                        tr.push("<tr style='text-align: center'>");
                        tr.push("<td class='text-black h6'>" + (i + 1) + "</td>");
                        tr.push("<td class='text-black h6'>" + data[i].attachFacility.name + "</td>");
                        tr.push("<td class='text-black h6'>" + data[i].attachFacility.unit + "</td>");
                        tr.push("<td class='text-black h6'>" + data[i].quantity + "</td>");
                        tr.push("</tr>");
                    }
                    $("#showSlow").append(tr.join(""));
                }
            }
        })
    }

    $('#btn-create-contract-detail').click(function () {
        let contractId = $('#contract-id').val();
        let attachFacility = $('#attach-facility').val();
        let quality = $('#quality').val();
        let url = "http://localhost:8080//api/contract-detail/v1";
        url += "?contractId=" + contractId;
        url += "&attachFacility=" + attachFacility;
        url += "&quality=" + quality;
        var object_json = {"contractId": contractId, "attachFacility": attachFacility, "quality": quality}
        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(object_json),
            success: function () {
            }
        })
    })
</script>
<script>
    function infoContractID(contractId) {
        $('#contract-id').val(contractId);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>