<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::  head"></head>
<body>
<h3>Blog</h3>
<div class="notify">
    <div th:if="${message}" style="text-align: center">
        <span th:text="${message}"></span>
    </div>
</div>
<p>
    <a th:href="@{/blog/create}">Add new blog</a>
</p>
<div>
    <form>
<!--        <label>Search By Author</label>-->
        <input style="width: 20%" type="text" name="author" placeholder="Input Author">
        <select style="width: 20%" th:name="ecomId" th:value="${ecomId}">
            <option value="" disabled selected>Choose Something</option>
            <option th:each="ecom : ${ecomerList}" th:value="${ecom.id}" th:text="${ecom.name}"></option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>
<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Topic</th>
        <th>Author</th>
        <th>Ecommerce</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,loop : ${blogList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.topic}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.eCommerce.name}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${blog.id})}">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${blogList.number -1}, author = ${author}, ecomId = ${ecomId})}" th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:each="pageNo : ${#numbers.sequence(0,blogList.totalPages - 1)} ">
        <a th:href="@{'/'(page=${pageNo}, author = ${author}, ecomId = ${ecomId})}" th:text="${pageNo}"></a>
    </span>
    <a th:href="@{'/'(page=${blogList.number +1}, author = ${author}, ecomId = ${ecomId})}" th:if="${blogList.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>