<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<header th:replace="/layout :: header"></header>
<h3>Create Villa</h3>
<p>
    <a class="back" style="width: 15%; text-decoration: none; text-align: center;background:darkgreen "
       th:href="@{/facility}">
        Back To Page Facility
    </a>
</p>
<div id="form">
    <form th:object="${facilityDto}" method="post" th:action="@{/facility/villa/create}" novalidate>
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>

        <div>
            <label>Area</label>
            <input type="text" th:field="*{area}">
        </div>

        <div>
            <label>Cost</label>
            <input type="text" th:field="*{cost}">
        </div>

        <div>
            <label>Max People</label>
            <input type="text" th:field="*{maxPeople}">
        </div>

        <div>
            <label>Rent Type</label>
            <select th:field="*{rentType}">
                <option th:each="item : ${rentTypeList}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>

        <div>
            <label>Standard Room</label>
            <input type="text" th:field="*{standardRoom}">
        </div>

        <div>
            <label>Description Other Convenience</label>
            <input type="text" th:field="*{descriptionOtherConvenience}">
        </div>

        <div>
            <label>Pool Area</label>
            <input type="text" th:field="*{poolArea}">
        </div>

        <div>
            <label>Number Of Floors</label>
            <input type="text" th:field="*{numberOfFloors}">
        </div>

        <div>
            <label>Facility Type</label>
            <select th:field="*{facilityType}">
                <option value="1">Villa</option>
            </select>
        </div>

        <input type="submit" value="Add New Villa">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>