<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<header th:replace="/layout :: header"></header>
<h3>Facility List</h3>
<div class="notify">
    <div th:if="${message}" style="text-align: center">
        <span th:text="${message}"></span>
    </div>
</div>
<div>
    <form action="/facility">
        <input style="width: 20%" type="text" name="name" placeholder="Name" th:value="${name}">
        <select style="width: 20%" th:name="facilityType">
            <option th:if="${facilityType != ''}" th:value="${facilityType}" th:text="${facilityType}"></option>
            <option value="">--All--</option>
            <option th:each="item : ${facilityTypeList}" th:value="${item.name}" th:text="${item.name}"></option>
        </select>

        <input type="submit" value="Search" style="width: 10%; font-weight: bold">
    </form>
</div>

<div class="back" style="width: 15%; text-align: center;background:darkgreen ">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a style="color:white;font-weight: bold" class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Add New Facility
            </a>
            <ul class="dropdown-menu bg-light">
                <li><a class="dropdown-item" href="/facility/villa/create">Add new Villa</a></li>
                <li>
                    <hr class="dropdown-divider bg-light">
                </li>
                <li><a class="dropdown-item" href="/facility/house/create">Add New House</a></li>
                <li>
                    <hr class="dropdown-divider bg-light">
                </li>
                <li><a class="dropdown-item" href="/facility/room/create">Add New Room</a></li>
            </ul>
        </li>
    </ul>
</div>


<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>Max People</th>
        <th>Facility Type</th>
        <th>Rent Type</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="facility,loop : ${facilityPage}">
        <td th:text="${facilityPage.number*5+loop.count}"></td>
        <td th:text="${facility.name}"></td>
        <td th:text="${facility.area}"></td>
        <td th:text="${facility.cost}"></td>
        <td th:text="${facility.maxPeople}"></td>
        <td th:text="${facility.facilityType.name}"></td>
        <td th:text="${facility.rentType.name}"></td>
        <td><a class="btn btn-primary" th:href="@{/facility/{id}/edit(id = ${facility.id})}">Edit</a></td>
        <td><a class="btn btn-primary" th:href="@{/facility/{id}/view(id = ${facility.id})}">View</a></td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" th:attr="onclick = |infoDelete('${facility.id}', '${facility.name}', '${facility.facilityType.name}')|">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<p class="h4 text-warning mt-5 text-center" th:if="${facilityPage.isEmpty()}">
    The Service You Are Looking For Does Not Exist</p>
<div style="text-align: center">
    <span>
        <a th:if="${facilityPage.hasPrevious()}"
           th:href="@{/facility(page=${facilityPage.number}-1, name = ${name}, facilityType = ${facilityType})}">
            Previous
        </a>
    </span>

    <span th:text="${facilityPage.number+1}"></span>/
    <span th:text="${facilityPage.totalPages}"></span>

    <span>
        <a th:if="${facilityPage.hasNext()}"
           th:href="@{/facility(page=${facilityPage.number+1}, name = ${name}, facilityType = ${facilityType})}">
            Next
        </a>
    </span>
</div>
<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete <span id = "facilityType"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete <span style="color: red" id="name"></span>?
                </p>
            </div>
            <div class="modal-footer">
                <form action="/facility/delete">
                    <input type="text" name="id" id="id" hidden>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
<script>
    function infoDelete(id,name, facilityType) {
        document.getElementById("id").value = id;
        document.getElementById("name").innerText = name;
        document.getElementById("facilityType").innerText = facilityType;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>