<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::  head"></head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
<h3>Blog</h3>
<div class="notify">
    <div th:if="${message}" style="text-align: center">
        <span th:text="${message}"></span>
    </div>
</div>
<p>
    <a th:href="@{/blog/create}">Add new blog</a>
</p>
<div>
    <form action="/blog">
        <input style="width: 20%" type="text" name="author" placeholder="Author">
        <input style="width: 20%" type="text" name="topic" placeholder="Topic">
<!--        <select style="width: 20%" th:name="catagory" th:value="${catagory}">-->
<!--            <option value="" disabled selected>Choose Something</option>-->
<!--            <option th:each="item : ${catagoryList}" th:value="${item.id}" th:text="${item.name}"></option>-->
<!--        </select>-->
        <input type="submit" value="Search">
    </form>

</div>
<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Author</th>
        <th>Topic</th>
        <th>Content</th>
        <th>Date Create</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,loop : ${blogPage}">
        <td th:text="${blogPage.number*5+loop.count}"></td>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.topic}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.dateCreate}"></td>
        <td th:text="${blog.catagory.name}"></td>
        <td><a class="btn btn-primary" th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a></td>
<!--        <td>-->
<!--            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                    data-bs-target="#exampleModal" >-->
<!--                Delete-->
<!--            </button>-->

<!--            &lt;!&ndash; Modal &ndash;&gt;-->
<!--            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                 aria-hidden="true" >-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Delete Blog</h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            Are you sure you want to delete?-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            <a type="button" class="btn btn-primary" th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
                <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a></td>
        <td><a class="btn btn-primary" th:href="@{/blog/{id}/view(id=${blog.id})}">View</a></td>
    </tr>
    </tbody>
</table>
<span>
    <a th:if="${blogPage.hasPrevious()}"
       th:href="@{/blog(page=${blogPage.number}-1,  author = ${author}, topic=${topic})}">
        Previous
    </a>
</span>
<span>
<!--    Hiển thị số trang-->
    <!--    <span th:each="pageNo : ${#numbers.sequence(0,blogPage.totalPages - 1)} ">-->
    <!--        <a th:href="@{/blog/list-page(page=${pageNo})}" th:text="${pageNo}"></a>-->
    <!--    </span>-->

    <!--    Hiển thị trang hiện tại/ tổng số-->
    <span th:text="${blogPage.number +1}"></span>/
    <span th:text="${blogPage.totalPages}"></span>
</span>
<span>
    <a th:if="${blogPage.hasNext()}"
       th:href="@{/blog(page=${blogPage.number}+1,  author = ${author},topic=${topic}) }">
        Next
    </a>
</span>
<footer th:replace="/layout :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>