<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Customer List</h3>
<div class="notify">
    <div th:if="${message}" style="text-align: center">
        <span th:text="${message}"></span>
    </div>
</div>
<div>
    <form action="/customer">
        <input style="width: 20%" type="text" name="name" placeholder="Name">
        <input style="width: 20%" type="text" name="email" placeholder="Email">

        <select style="width: 20%" th:name="customerTypeId">
            <option value=""  selected>Choose Something</option>
            <option th:each="item : ${customerTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>

        <input type="submit" value="Search" style="width: 10%">
    </form>
</div>
<p>
    <a class="back" style="width: 15%; text-decoration: none; text-align: center;background:darkgreen " th:href="@{/customer/create}">
       Add New Customer
    </a>
</p>
<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>View</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,loop : ${customerPage}">
        <td th:text="${customerPage.number*5+loop.count}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.gender.gender}"></td>
        <td th:text="${customer.customerType.name}"></td>
        <td><a th:href="@{/customer/{id}/edit(id = ${customer.id})}">Edit</a></td>
        <td><a th:href="@{/customer/{id}/view(id = ${customer.id})}">View</a></td>
        <td><a th:href="@{/customer/{id}/delete(id = ${customer.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <span>
        <a th:if="${customerPage.hasPrevious()}"
           th:href="@{/customer(page=${customerPage.number}-1, name = ${name}, email = ${email}, customerTypeId = ${customerTypeId})}">
            Previous
        </a>
    </span>

    <span th:text="${customerPage.number+1}"></span>/
    <span th:text="${customerPage.totalPages}"></span>

    <span>
        <a th:if="${customerPage.hasNext()}"
           th:href="@{/customer(page=${customerPage.number+1}, name = ${name}, email = ${email}, customerTypeId = ${customerTypeId})}">
            Next
        </a>
    </span>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>